:root{
    --primary-color:rgb(105, 44, 155);
    --secondary-color:rgb(141, 34, 228);

    --light-theme-background:white;
    --light-theme-text:black;
    --light-theme-back:rgb(216, 216, 216);

    
    --dark-theme-background:rgb(22, 21, 21);
    --dark-theme-text:rgb(228, 228, 228);
    --dark-theme-text-2:rgb(204, 203, 203);

    --dark-theme-back:rgb(35, 35, 35);
    --dark-theme-hover-color:rgb(61, 24, 92);


}