*{
    padding: 0;     
    margin:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#student-dashboard-page{
    height: auto;
    width: 100%;
    background:rgb(15, 15, 15) ;
    display: grid;
    grid-template-rows: 10% 90%;
    
}

header{

    display:flex ;
    flex-direction: column;
    justify-content: space-between;

}

#header-things{
    background: var(--dark-theme-back);
    color: var(--dark-theme-text);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px ;


    animation-name: border-moves;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timing-function: linear;
    height: 100%;
}
#bottom-border{
    width: 100%;
    height: 2px;
    background: purple;
}

#bottom-border {
  width: 100%;
  height: 1px;

  background: linear-gradient(90deg, black, var(--secondary-color), black);
  background-size: 200% 100%;

  animation: moveBorder 2s linear infinite alternate;
}

/* animation */
@keyframes moveBorder {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}





#top-icons{
    font-size: 30px;
    transition: all 0.5s;

}

#top-icons:hover{
    scale: 1.14;
}

#right-top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;

}

#left-top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;

}

#left-top-container h3{
    font-size: clamp(0.9rem, 2.5vw, 1.4rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#uni-logo{
    height: 40px;
}

#logout-btn{
    padding: 5px 10px 5px 10px;

    width: 100px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background: var(--dark-theme-background);
    background: var(--primary-color);
    font-weight: 600;
    color: var(--dark-theme-text);
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s;
}

#logout-btn:hover{
    scale: 1.10;
}



#logout-btn-icon{
    font-size: 20px;
    transition: all 0.5s;

}

#main-content{
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 14% 80%;
    gap: 20px;
    height: fit-content;
    background: var(--dark-theme-student-dashboard-background) ;
}

aside{
    background: var(--dark-theme-back);
    height: auto;
}   


#btns{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background: var(--dark-theme-back);
    color: var(--dark-theme-text);
    border-top: 1px solid rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
    border-left: none;
    border-right: none;
    cursor: pointer;
    transition: all 0.5s;
    
}

#btns:hover{
    background: var(--dark-theme-hover-color);
    transform: translateX(10px);
}

#btns-icons{
    font-size: 20px;

}

#student-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-theme-text);
    padding: 20px;
    gap: 5px;
}

#dp-container {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
#student-dp{
    width: 100%;
}

#student-card h4{
    font-size: clamp(0.9rem, 2.5vw, 0.99rem);
    font-weight: 400;
}









#content-container{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-self: center;
    gap: 70px;
}

#person-and-financial-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#reg-and-academic-box{
    display: flex;
    flex-direction: column;
    gap: 70px;
    
}



.content-box{
    background: var(--dark-theme-background);
    border-radius: 10px;
    height: max-content;
    width: 39vw;
}



#top-banner{
    background: var(--dark-theme-back);
    height: 50px;
    width: 100%;
    color: var(--dark-theme-text);
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    align-items: center;
    padding:20px;
    justify-self:center ;
    position: relative;
    top: -10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid var(--secondary-color);

}

#top-banner h3{
    font-weight: 300;
}


#person-img{
    border-radius: 100%;
    overflow: hidden;
    width: clamp(70px, 50%, 140px);
}




#person-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    

    padding: 10px;
    gap: 20px;
}

.big-card-info{
    color: var(--dark-theme-text-2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    max-height: fit-content;


}

#person-information .big-card-info{
    /* border: 1px solid rgb(57, 57, 57); */
    padding: 10px  20px;
    width: 80%;
}


#academic-details{
    width: 100%;
}

#registered-courses{
    width: 100%;

}

#academic-details .big-card-info{
    padding: 10px  20px;
}

.big-card-info table{
    border-collapse: collapse;
}



.big-card-info table td{
    padding: 10px 10px 10px 7px ;
    border-bottom: 2px solid rgb(67, 67, 67);


}

.big-card-info table tr{
    /* cursor: pointer; */
    transition: all 0.4s;
}

/* .big-card-info table tr:hover{
    transform: translateX(10px);
}
 */


.big-card-info #hh1{
    font-size: clamp(0.8rem, 2.5vw, 1.0rem);
    font-weight: 200;

}



.big-card-info #hh2{
    font-size: clamp(0.8rem, 2.5vw, 1.0rem);
    font-weight: 200;
}

.big-card-info #labell{
    font-size: clamp(0.8rem, 2.5vw, 1.0rem);
    font-weight: 200;
}




#financial-details .big-card-info{
    padding: 10px  20px;
    width: 100%;
}


#registered-courses .big-card-info{
    padding: 10px  20px;
    width: 100%;
}

#courses-container{
    width: 100%;

}


#courses-container table thead{
    background: var(--dark-theme-back);
}

#courses-container table thead th{
  
    padding: 10px 20px;

    text-align: left;
    border: 1px solid rgb(67, 67, 67);

}


#courses-container table tbody #hh1{
    border: 1px solid rgb(67, 67, 67);
    transition: all 0.4s;
    padding: 10px 20px;


}

#courses-container table tbody tr:hover{
    background: var(--dark-theme-hover-color);

}


.show-more-content-btn{
    height: 20px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    position: relative;
    bottom: -20px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
.show-more-content-btn button{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    border: none;
    padding-left: 10px;
    padding-right: 10px;
    /* background: var(--primary-color); */
    color: var(--dark-theme-text);
    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-top: 1px solid rgb(67, 67, 67);
    transition: all 0.4s;
    background: var(--dark-theme-background);


}
.show-more-content-btn button:hover{
    background: var(--dark-theme-back);
}

@media (max-width: 768px) {

    #student-dashboard-page{
        
        display: grid;
        grid-template-rows: 12% 88%;
    
    }

    #left-top-container h3{
        font-size: clamp(0.7rem, 2.5vw, 1.2rem);
    }

    #top-icons{
        font-size: 27px;
        transition: all 0.5s;

    }

    #uni-logo{
        height: 27px;
    }
    #right-top-container{
        gap: 10px;
    }

    #left-top-container{
        gap: 10px;
    }

    
    #left-top-container h3{
        gap: 10px;
    }
    #logout-btn{
        font-size: 14px;
    }


    #logout-btn-icon{
        font-size: 16px;
    }

    #content-container{
        padding: 20px;
    }

    #person-img{

        width: 100px;

    }

    #person-container{
        gap: 10px;
        flex-direction: column;
    }

    

    

    #main-content{
        grid-template-columns: 35% 75%;
        /* grid-template-columns: 100%; */



    }
    
    aside{
        /* display: none; */
    }   

    #btns{
        font-size: 10px;
        padding: 0px 6px 0px 6px;
        justify-content: left;
        gap: 4px;
    }

    #btns-icons{
        font-size: 15px;
    }

    #student-card h4{
        font-size: clamp(0.3rem, 2.5vw, 0.99rem);
    }


    #person-and-financial-box{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: max-content;
    }
    #reg-and-academic-box{
        display: flex;
        flex-direction: column;
        gap: 70px;
        width: auto;


    }



    .content-box{
        width: 50vw;

    }

    
    #person-container{
        padding: 5px;


    }


    #person-information .big-card-info{
        padding: 10px  20px;
        width: 99%;
    }

    #academic-details{
        width: 80%;

    }
    #academic-details .big-card-info{
        padding: 10px  20px;
        width: fit-content;

    }


    #registered-courses{
        width: 100%;
        width: fit-content;

    }

  

}
